@charset "UTF-8";
/* CSS Document */

div,p,body,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
	font-family: 'Lato', sans-serif;
}	

h2
{
	margin: 0; 
	padding: 0; 

	font-family: 'Lato', sans-serif;
	font-size: 30px;

}

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding-top: 50px; 
}

/*html selectors*/

body 
{
	color: #333;
	background: #cfcbcb;
}

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

.copy
{
	margin: 20px;  
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	flex-direction: left;
	line-height: normal;
	line-height: 1.5; 
	text-indent: 50px;


}

.hidden
{
	display: none;
}

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}

#mainHeader
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
	border-bottom: solid 1px #DDD; 
}

#logo
{
	width: 200px;
}

#mainNav 
{	
	margin-left: auto;
	width: 500px;
	margin-top: 90px;
	text-indent: 10px;
}

#header
{
	display: flex;
flex-direction: row;
justify-content: flex-end;
}

#header li {
    display: block;
    margin: 5px;   
}
#footerNav 
{	
	margin-left: auto;
	width: 500px;
	margin-top: 90px;
	text-indent: 10px;
}

#footer
{
	display: flex;
flex-direction: row;
justify-content: flex-start;
}

#footer li {
    display: block;
    margin: 5px;   
}

#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction:column;
}


#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#mallSummary
{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#mallSummary p 
{
	line-height: 50px;
}

.mallTitle
{
	padding-top: 50px;
	width: 200px;
	font-size: 40px;
}

#mainFooter 
{
	flex-direction: row;
	margin-left: auto;
	width: 1000px;
	margin-top: 10px;
	text-indent: 10px;
}

#footerNav 
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
	border-bottom: solid 1px #DDD; 
}

#footer li
{
    display: block;
    margin: 5px;   
}
#copyright 
{
	margin-left: auto;
	width: 310px;
}


#contentCon {
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}


#content1 
{
	width: 440px;
}

#content2 
{
	margin-left: auto;
	width: 440px;
}

/*Page 3*/

.mallImages 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}



.contentAreaBig
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}


/*Page 4*/

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

#contactUS
{
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid 1px #DDD;
}
